/*! CSS Used from: https://constant.myntassets.com/mymyntra/assets/css/main.54bf1e164ddfb72de602.css */
a {
    background-color: transparent;
}

img {
    border-style: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.application-base {
    color: inherit;
    margin-top: 5px;
}

@media all and (min-width: 980px) {
    .acntt {
        border: none !important;
    }

    .application-base {
        margin-top: 50px;
    }
}

.full-height {
    height: 100%;
}

.page-fullWidthComponent {
    font-size: 14px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}

:not(input):not(textarea):not(button) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 780px) {
    .acntt {
        border: none !important;
    }

    .page-page {
        margin: 10% 5%;
        min-height: 650px;
        background-color: white;
    }

    .page-fullWidthComponent {
        padding: 10px;
        width: 71%;
        display: inline-block;
        margin: 5px;
    }

    :not(input):not(textarea):not(button) {
        -webkit-touch-callout: auto;
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
    }
}

@media (min-width: 980px) {
    .acntt {
        border: none !important;
    }

    .page-page {
        max-width: 980px;
    }
}

.account-account {
    display: none;
    border-bottom: 1px solid #d4d5d9;
    padding: 15px 0px;
    font-size: 12px;
}

.account-heading {
    font-size: 18px;
    font-weight: 800;
}

@media (min-width: 780px) {
    .acntt {
        border: none !important;
    }

    .account-account {
        display: block;
    }
}

.sidebar-sidebar {
    vertical-align: top;
    display: none;
    border-right: 1px solid #d4d5d9;
    box-shadow-right: 1px 1px 5px #888888;
    text-align: left;
    padding: 0px 25px 0px 0px;
    font-size: 15px;
}

@media (min-width: 780px) {
    .acntt {
        border: none !important;
    }

    .sidebar-sidebar {
        display: inline-block;
    }
}

.segment-segment {
    border-top: 1px solid #d4d5d9;
    padding: 20px 0px;
    width: 145px;
}

.segment-segment:first-child {
    border-top: none;
}

.segment-heading {
    color: #7e818c;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 0px;
}

.segment-link {
    display: block;
    margin: 5px 0px;
}

.segment-activeLink {
    font-weight: 800;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomynt' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon {
    outline: none;
}

.icon-chevron_right:before {
    content: "\e90e";
}

.dashboard-section {
    margin: 10px 0px;
}

.dashboard-logoutButton {
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    font-weight: 800;
    background-color: #ff5a5a;
    margin: 30px 10px 30px 10px;
    border: 1px solid #d4d5d9;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dashboard-data {
    width: 100%;
    position: relative;
}

.dashboard-squareContainer {
    display: none;
}

.dashboard-listContainer {
    display: block;
    position: relative;
}

table.dashboard-squareContainer {
    width: 100%;
    border-collapse: collapse;
}

table.dashboard-squareContainer td {
    border: 20px solid transparent;
}

table.dashboard-squareContainer tr:first-child td {
    border-top: 0;
}

table.dashboard-squareContainer tr:last-child td {
    border-bottom: 0;
}

table.dashboard-squareContainer tr td:first-child {
    border-left: 0;
}

table.dashboard-squareContainer tr td:nth-child(3n) {
    border-right: 0;
}

table.dashboard-squareContainer td {
    width: 30%;
    position: relative;
}

/* table.dashboard-squareContainer td:after{content:'';display:block;margin-top:100%;} */
@media (min-width: 780px) {
    .acntt {
        border: none !important;
    }

    .dashboard-logoutButton {
        width: 146px !important;
        margin: -1px 10px 30px 0px !important;
    }

    .dashboard-listContainer {
        display: none;
    }

    .dashboard-squareContainer {
        display: table;
    }
}

.link-card {
    cursor: pointer;
    padding: 16px;
    background: white;
    border-bottom: 1px solid #F5F5F6;
    display: block;
}

.link-card .link-content {
    position: relative;
}

.link-card .link-icon {
    display: inline-block;
    width: 24px;
    margin-right: 16px;
    vertical-align: top;
    opacity: 0.7;
    top: 50%;
    left: 0;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.link-card .link-labels {
    display: inline-block;
    width: 80%;
    margin-left: 40px;
}

.link-card .link-labels .link-label {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 4px;
}

.link-card .link-labels .link-subLabel {
    font-size: 12px;
    color: #94969F;
}

.link-card .link-arrow {
    top: 50%;
    right: 0;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.link-card:last-child {
    border-bottom: none;
}

.link-footerCard {
    cursor: pointer;
    padding: 16px;
    background: white;
    display: block;
}

.link-footerCard .link-footerContent {
    margin-left: 40px;
    opacity: 0.7;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
}

@media (min-width: 780px) {
    .acntt {
        border: none !important;
    }

    .link-card:last-child {
        border: 1px solid #EAEAEC;
        border-radius: 15px;
        height: 151px;
        width: 251px;
    }
}

.link-card {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border: 0.5px solid #EAEAEC;
    padding: 12px;
}

.link-card .link-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0px 12px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.link-card .link-icon {
    display: block;
    margin: auto;
    opacity: 1;
    width: 32px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: unset;
}

.link-card .link-labels {
    width: 100%;
    margin-left: 0px;
}

.link-card .link-labels .link-label {
    margin-top: 18px;
}

.link-card .link-labels .link-subLabel {
    min-height: 25px;
}

.link-card .link-arrow {
    display: none;
}

.link-card:hover {
    background-color: #F5F5F6;
}

.person-person {
    padding-bottom: 25px;
    background-color: white;
}

.person-person .person-minfo {
    text-align: center;
    margin-top: 50px;
    display: block;
}

.person-person .person-background {
    position: relative;
    background: #F5F5F6;
    height: 180px;
    padding: 25px 30px;
}

.person-person .person-background .person-infoWrapper {
    text-align: center;
}

.person-person .person-background .person-infoWrapper .person-imageHolder {
    height: 130px;
    width: 130px;
    float: left;
    display: inline;
}

.person-person .person-background .person-infoWrapper .person-infoHolder {
    height: 130px;
    width: auto;
    float: left;
    display: inline;
    position: absolute;
    text-align: left;
    left: 190px;
    right: 30px;
    display: none;
}

.person-person .person-background .person-infoWrapper .person-info {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.person-person .person-background .person-infoWrapper .person-defaultImage {
    height: 130px;
    width: 130px;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background-image: url(https://constant.myntassets.com/mymyntra/assets/img/default-image.png);
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.person-person .person-background .person-infoWrapper .person-name {
    font-weight: 800;
    font-size: 23px;
    text-transform: capitalize;
    color: #3E4152;
}

.person-person .person-background .person-infoWrapper .person-editProfile {
    display: inline-block;
    float: right;
    cursor: pointer;
    border: 1px solid #3E4152;
    padding: 4px 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #3E4152;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 780px) {
    .acntt {
        border: none !important;
    }

    .person-person {
        margin-bottom: 35px;
        padding-bottom: unset;
        background-color: none;
    }

    .person-person .person-minfo {
        display: none;
    }

    .person-person .person-background .person-infoWrapper .person-infoHolder {
        display: block;
    }

    .person-person .person-background .person-infoWrapper .person-defaultImage {
        position: unset;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}

a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #282C3F;
}

/*! CSS Used fontfaces */
@font-face {
    font-family: 'icomynt';
    src: url(https://constant.myntassets.com/mymyntra/fonts/icomynt-v1.woff) format('woff'), url(https://constant.myntassets.com/mymyntra/fonts/icomynt-v1.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}




/*! CSS Used from: https://constant.myntassets.com/mymyntra/assets/css/main.54bf1e164ddfb72de602.css */
a {
    background-color: transparent;
}

img {
    border-style: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.page-fullWidthComponent {
    font-size: 14px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}

:not(input):not(textarea):not(button) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 780px) {

    .acntt {
        border: none !important;
    }

    .page-page {
        margin: 10% 5%;
        min-height: 650px;
        background-color: white;
    }

    .page-fullWidthComponent {
        padding: 10px;
        width: 80%;
        display: inline-block;
        margin: 5px;
    }

    :not(input):not(textarea):not(button) {
        -webkit-touch-callout: auto;
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
    }
}

@media (min-width: 980px) {
    .acntt {
        border: none !important;
    }

    .page-page {
        margin: 8% auto;
        max-width: 85%;
    }
}

.account-account {
    display: none;
    border-bottom: 1px solid #d4d5d9;
    padding: 15px 0px;
    font-size: 12px;
}

.account-heading {
    font-size: 18px;
    font-weight: 800;
}

@media (min-width: 780px) {
    .account-account {
        display: block;
    }
}

.sidebar-sidebar {
    vertical-align: top;
    display: none;
    border-right: 1px solid #d4d5d9;
    box-shadow-right: 1px 1px 5px #888888;
    text-align: left;
    padding: 0px 25px 0px 0px;
    font-size: 15px;
}

@media (min-width: 780px) {
    .acntt {
        border: none !important;
    }

    .sidebar-sidebar {
        display: inline-block;
    }
}

.segment-segment {
    border-top: 1px solid #d4d5d9;
    padding: 20px 0px;
    width: 145px;
}

.segment-segment:first-child {
    border-top: none;
}

.segment-heading {
    color: #7e818c;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 0px;
}

.segment-link {
    display: block;
    margin: 5px 0px;
}

.segment-activeLink {
    font-weight: 800;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomynt' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon {
    outline: none;
}

.icon-chevron_right:before {
    content: "\e90e";
}

.dashboard-section {
    margin: 10px 0px;
}

.dashboard-logoutButton {
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    font-weight: 800;
    background-color: #F3735F;
    margin: 30px 10px 30px 10px;
    border: 1px solid #d4d5d9;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dashboard-data {
    width: 100%;
    position: relative;
}

.dashboard-squareContainer {
    display: none;
}

.dashboard-listContainer {
    display: block;
    position: relative;
}

table.dashboard-squareContainer {
    width: 100%;
    border-collapse: collapse;
}

table.dashboard-squareContainer td {
    border: 20px solid transparent;
}

table.dashboard-squareContainer tr:first-child td {
    border-top: 0;
}

table.dashboard-squareContainer tr:last-child td {
    border-bottom: 0;
}

table.dashboard-squareContainer tr td:first-child {
    border-left: 0;
}

table.dashboard-squareContainer tr td:nth-child(3n) {
    border-right: 0;
}

table.dashboard-squareContainer td {
    width: 30%;
    position: relative;
}

/* table.dashboard-squareContainer td:after{content:'';display:block;margin-top:100%;} */
@media (min-width: 780px) {
    .acntt {
        border: none !important;
    }

    .dashboard-logoutButton {
        width: 250px;
        margin: 30px 10px 30px 0px;
    }

    .dashboard-listContainer {
        display: none;
    }

    .dashboard-squareContainer {
        display: table;
    }
}

.link-card {
    cursor: pointer;
    padding: 16px;
    background: white;
    border-bottom: 1px solid #F5F5F6;
    display: block;
}

.link-card .link-content {
    position: relative;
}

.link-card .link-icon {
    display: inline-block;
    width: 24px;
    margin-right: 16px;
    vertical-align: top;
    opacity: 0.7;
    top: 50%;
    left: 0;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.link-card .link-labels {
    display: inline-block;
    width: 80%;
    margin-left: 40px;
}

.link-card .link-labels .link-label {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 4px;
}

.link-card .link-labels .link-subLabel {
    font-size: 12px;
    color: #94969F;
}

.link-card .link-arrow {
    top: 50%;
    right: 0;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.link-card:last-child {
    border-bottom: none;
}

.link-footerCard {
    cursor: pointer;
    padding: 16px;
    background: white;
    display: block;
}

.link-footerCard .link-footerContent {
    margin-left: 40px;
    opacity: 0.7;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
}

@media (min-width: 780px) {
    .acntt {
        border: none !important;
    }

    .link-card:last-child {
        border: 1px solid #EAEAEC;
        border-radius: 15px;
        height: 151px;
        width: 251px;

    }

    .link-card {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        border: 0.5px solid #EAEAEC;
        padding: 12px;
    }

    .link-card .link-content {
        top: 50%;
        left: 0;
        right: 0;
        padding: 0px 12px;
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    }

    .link-card .link-icon {
        display: block;
        margin: auto;
        opacity: 1;
        width: 32px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        position: unset;
    }

    .link-card .link-labels {
        width: 100%;
        margin-left: 0px;
    }

    .link-card .link-labels .link-label {
        margin-top: 18px;
    }

    .link-card .link-labels .link-subLabel {
        min-height: 25px;
    }

    .link-card .link-arrow {
        display: none;
    }

    .link-card:hover {
        background-color: #F5F5F6;
    }
}

.person-person {
    padding-bottom: 25px;
    background-color: white;
}

.person-person .person-minfo {
    text-align: center;
    margin-top: 50px;
    display: block;
}

.person-person .person-background {
    position: relative;
    background: #F5F5F6;
    height: 180px;
    padding: 25px 30px;
}

.person-person .person-background .person-infoWrapper {
    text-align: center;
}

.person-person .person-background .person-infoWrapper .person-imageHolder {
    height: 130px;
    width: 130px;
    float: left;
    display: inline;
}

.person-person .person-background .person-infoWrapper .person-infoHolder {
    height: 130px;
    width: auto;
    float: left;
    display: inline;
    position: absolute;
    text-align: left;
    left: 190px;
    right: 30px;
    display: none;
}

.person-person .person-background .person-infoWrapper .person-info {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.person-person .person-background .person-infoWrapper .person-defaultImage {
    height: 130px;
    width: 130px;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background-image: url(https://constant.myntassets.com/mymyntra/assets/img/default-image.png);
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.person-person .person-background .person-infoWrapper .person-name {
    font-weight: 800;
    font-size: 23px;
    text-transform: capitalize;
    color: #3E4152;
}

.person-person .person-background .person-infoWrapper .person-editProfile {
    display: inline-block;
    float: right;
    cursor: pointer;
    border: 1px solid #3E4152;
    padding: 4px 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #3E4152;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 780px) {

    .person-person {
        margin-bottom: 35px;
        padding-bottom: unset;
        background-color: none;
    }

    .person-person .person-minfo {
        display: none;
    }

    .person-person .person-background .person-infoWrapper .person-infoHolder {
        display: block;
    }

    .person-person .person-background .person-infoWrapper .person-defaultImage {
        position: unset;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}

a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #282C3F;
}

/*! CSS Used fontfaces */
@font-face {
    font-family: 'icomynt';
    src: url(https://constant.myntassets.com/mymyntra/fonts/icomynt-v1.woff) format('woff'), url(https://constant.myntassets.com/mymyntra/fonts/icomynt-v1.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}





tr {
    background: none !important;
}




#sliderrew .slick-initialized .slick-slide {
    display: block;
    width: 98px !important;
}

.slider-rewards .slick-next {

    top: 37%;
}


.myChart {

    width: 100px !important;
    height: 100px !important;
}

.acntt {

    border-right: 1px solid #d4d5d9;
    margin-left: -10px;
}

.namee {
    position: absolute;
    margin-top: -57px;
    margin-left: 90px;
}

.rewardpointcnt {
    float: right;
    text-align: center;
}

.proimgr {
    border-radius: 100px;
    border: 2px solid #F3735F;
    width: 65px;
    height: 65px;
    margin-left: 20px;
}

/* .ckol {

    background-color: #ffffff;
}

.wkor {
    background-color: #fff;
    margin-left: 3px;
    margin-right: 3px;

} */

.forborder {
    clip-path: polygon(89% 1%, 98% 10%, 98% 91%, 91% 98%, 2% 98%, 2% 51%, 2% 2%);
    background-color: rgb(0, 0, 0);
}

.fgty {
    margin-right: -30px;
}

.sdsda {

    margin-right: -28px;
}

.cardfrodash {
    border-radius: 25px;
    border: 0.5px solid #94969F;
    padding: 10px;
}



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}


.rating>input {
    display: none;
}

.rating>label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #FFD700;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important;
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;
}

.dodo {
    width: 70%;
    padding: 20px;
}

.addressfrodash {
    width: 40%;
}



.background .container .header .icon-back {
    font-size: 30px;
    color: #F3735F;
}



.header .order .order-status {
    color: #f29702;
    font-weight: 600;
}

.header .icon-brand {
    font-size: 30px;
    color: #F3735F;
}


.content .timeline .item {
    position: relative;

    padding: 20px 20px;
    margin-left: -90px;
    margin-right: 10px;
}

.content .timeline .item.active .item-description:before {
    background-color: #F3735F;
}

.content .timeline .item:last-child {
    border-bottom: none;
}

.content .timeline .item:last-child:before {
    display: none;
}

.content .timeline .item:before {
    border-left: 3px solid #F3735F;
    content: "";
    z-index: 0;
    height: 102%;
    left: 135px;
    position: absolute;
    opacity: 0.4;
}

.content .timeline .item .item-label {
    position: absolute;
}

.content .timeline .item .item-label .item-label-date {
    color: #a6a6a6;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 5px;
}

.content .timeline .item .item-label .item-label-hour {
    font-weight: 600;
    font-size: 19px;
    float: right;
}

.content .timeline .item .item-description {
    margin-left: 150px;
    margin-bottom: 20px;
}

.content .timeline .item .item-description:before {
    border: 2px solid #F3735F;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    content: "";
    z-index: 0;
    left: 125px;
    position: absolute;
    background-color: #fff;
    display: block;
}

.content .timeline .item .item-description .item-description-status {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
    color: #F3735F;
}

.content .timeline .item .item-description .item-description-location {
    color: #a6a6a6;
    font-size: 15px;
    font-weight: 500;
}

.contentforhelps {
    padding: 20px;
}

.dfg {
    text-align: left !important;
    overflow: hidden !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.fji {
    padding-right: 200px;
}

input.largerCheckbox {
    width: 20px;
    height: 20px;

}

input[type=checkbox] {
    accent-color: #FF583E;
    border-color: #FF583E;
}

.cancel {
    padding: 10px;
    font-size: 22px;

}

.boxdesign {
    border: 1px solid #F3735F;
    border-radius: 25px;

}

.detaiks {
    background-color: #FF583E;
    border-radius: 25px;
    border: 1px solid #F3735F;
    padding: 60px;
    color: white;

}

.conterfroda {
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.dashicon{
    color: #F3735F;
    height: 45px;
}
.add{
     background-color: #F3735F; border-radius: 25px; margin-left: -30px; width: 30px; position: absolute; height: 30px; color: white !important; font-size: 20px; margin-top: 65px; padding-left: 9px;
}

.whtr{
    color: white !important;
}