* {padding: 0; margin: 0}
body {color:#5A5A5A;font-family: 'Montserrat', sans-serif !important; position: relative;}
p:last-child { margin-bottom: 0}
p { font-size: 0.875rem;font-family: 'Montserrat', sans-serif;}
a,
a:hover {color: inherit;text-decoration: none;} 
@font-face {font-family: GothamBold;src: url(../fonts/GothamBold.ttf);}
@font-face {font-family: gotham-book;src: url(../fonts/GothamBook.ttf);}
@font-face {font-family: GothamMedium;src: url(../fonts/GothamMedium.ttf);}
button, .btn {font-family: 'Montserrat', sans-serif!important; }
header{position: sticky;background-color: #fff;top: 0;z-index: 9999;}
button:focus, .btn:focus, a:focus, input:focus{outline: none;box-shadow: none;}
.t-uline{text-decoration: underline;}
.GothamBold{font-family: GothamBlack;}
.gotham-book {font-family: gotham-book!important;}
.gotham-medium {font-family: GothamMedium!important;}
.f-12{font-size:0.75rem;}
.f-13{font-size: 13px;}
.f-14{font-size: 0.875rem;}
.f-15{font-size:15px;}
.f-16{font-size:1rem;}
.f-18{font-size:1.125rem;}
.f-20{font-size:1.25rem;}
.f-22{font-size:22px;}
.f-24{font-size:24px;}
.f-25{font-size:25px;}
.f-26{font-size:1.625rem;}
.f-28{font-size:1.75rem!important;} 
.f-30{font-size:1.875rem;}
.f-32{font-size:32px;}
.f-35{font-size:35px;}
.f-40{font-size:40px;}
.f-46{font-size:46px;}
.f-50{font-size:50px;}
.f-65{font-size:65px;}
.f-86{font-size: 86px;}
.f-blck{font-weight: 800;}
.f-bold{font-weight: 700;}
.f-sbold{font-weight: 600;}
.f-medium{font-weight: 500;}
.f-reg{font-weight: 400;}
.bdr-1{border: 1px solid #000;}
.bdr-btm1{border-bottom: 1px solid #000;}
.bdr-btm3{border-bottom: 3px solid #000;}
.bdr-rdius0{border-radius: 0px!important;}
.bdr-rdius6{border-radius: 6px;}
.bdr-rdius13{border-radius: 13px;}
.bdr-rdius24{border-radius: 24px!important;}
.bdr-rdius55{border-radius: 55px;}
.bdr-none{border: 0 none;}
.bdr-000{border: 1px solid #000000;}
.bdr-blue{border: 1px solid #008BB7;}
.bdr-f3{border: 1px solid #F3735F;}
.bg-ff{background: #fff;}
.bg-lgray{background: #F2F2F2;}
.bg-yellow{background: #F8D033;}
.bg-trsprnt{background: transparent!important;}
.bg-f3{background: #F3735F;}
.bg-00{background: #000;}
.bg-blue{background: #008BB7;}
.bg-d4{background: #D4D4D4}
.color-46{color: #464646}
.color-27{color: #272727;}
.color-00{color: #000;}
.color-d4{color: #D4D4D4;}
.color-fff{color: #fff!important;}
.color-f3{color: #F3735F;}
.color-70{color: #707070;}
.color-7E{color: #7E7E7E;}
.color-blue{color: #F3735F;}
.color-brown{color: #3C2313}
.cr-ponter{cursor: pointer;}
.pos-rel{position: relative;}
.pointer{cursor: pointer;}
.gothambold-f15{font-size: 15px;padding: 12px 30px;font-family: GothamMedium!important;font-weight: 700;}
.search-group{display: flex;width: 100%;border: 1px solid #C1C1C1;border-radius: 24px;overflow: hidden;position: relative;}
.search-group:after{position: absolute;content: ''; left: 60%;top: 5px;height: 80%;width: 1px;background: #C1C1C145;}
.form-control:focus{box-shadow: none;}
.search-group .form-control,.dd_search .form-control{padding: 13px 0;border: 0 none;color: #707070;font-size: 13px;font-family: gotham-book;height: auto;}
.search-form{position: relative;}
.search-form .search-icon{position: absolute;right: 15px;top: 50%;transform: translate(0px, -50%);color: #f3735f;z-index: 99;cursor: pointer;background: #fff;}
.header-right-icons a i{border: 1px solid #70707045;height: 46px; width: 46px;line-height: 46px;text-align: center;border-radius: 50%;position: relative;color: #683B32;font-size: 20px;}
.header-right-icons .count-num{top: -3px;right: 0px;font-family: GothamMedium;font-size: 8px;color: #fff;background: #f3735f;border-radius: 50%;height: 15px;line-height: 15px;width: 15px;text-align: center;}
.search_left{width: 60%;}
.search_right{position: relative;width: 40%;padding-left: 5px;}
.loc-icon{left: 5px;top: 12px;position: absolute;}
.header-right-icons{position: relative; }
.header-right-icons:after{position: absolute;content: '';left: 50%;top: 0px;height: 100%;width: 1px;background: #C9C9C9;}
.search-header{width: 55%;}
.main-nav{background: #F3735F;}
.main-nav .nav-item{margin-right: 30px;}
.main-nav .nav-link{font-size: 14px;color: #fff;font-weight: 400;} 
.dd_notification{cursor: pointer;color: #ffffffbd;}
.dd_notification svg{font-size: 24px;}
.navbar-toggler{color: #fff;}
header .header-right{padding-bottom: 15px;}
.main-nav .nav-link.active{font-weight: 700;position: relative;}
.main-nav .nav-link.active:after{position: absolute;content: '';bottom: -5px;left: 0;height: 5px;width: 100%;background: #fff;}
/*header style end*/
/*banner section*/
.banner-index{background: url(../images/COVER.png) 0 0 no-repeat;background-size: cover!important;min-height: 500px;display: flex;flex-wrap: wrap;width: 100%;align-items: center;}
.Dwiggy_bnr_btn{position: relative;top: 20px;}
.bnr_btm_img{position: absolute;top: -90%;left: 0;}
/*.banner-cnt{padding:50px;}*/
.owl-theme .owl-dots{transform: translate(-50%, -10px);left: 50%;bottom: 0;position: absolute;}
.dd_pet_cnt>p{font-size: 90%!important;}
.dd_pet_box,.dd_pet_box img {width: 100%;height: 100%;object-fit: contain;}
.bl_Convers_img{width: 100%;height: 250px;position: relative;padding: 20px 20px;}
img{max-width: 100%;}
/*-----------*/
.dd_img_pos{top: -30px;left: 98%;position: absolute;}
.bnr-btm-sec{background: url(../images/bg_dogFoot.png) 0 0 no-repeat;background-size: cover;margin-top: -5px;}
.breed_sec:after,.breed_sec:before{position: absolute;content: '';background: #D9D9D9;}
.breed_sec:after{left: 50%;top: 50%;width: 2px;height: 90%;transform: translate(-50%, -50%);}
.breed_sec:before{left: 50%;top: 50%;width: 70%;height: 2px;transform: translate(-50%, 0px);}
.dd_search .search-icon{position: absolute;top: 10px;right: 15px;cursor: pointer;}
.dd_search .form-control{border: 1px solid #C1C1C1;color: #707070;}
.dd_pos{left: 98%;top: -37px;position: absolute;}
.nav-pills .nav-link{border: 1px solid #F3735F;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color: #F3735F;}
.dd_pet_box{display: inline-block;cursor: pointer;}
.dd_pet_cnt{position: absolute;bottom: 0px;left: 50%;transform: translate(-50%,0px);line-height: 40px;height: 40px;background-image: linear-gradient(180deg, #00000021, #131313f5);}
.dd_whislist{position: absolute;top: 5px;right: 15px;z-index: 99;color: #fff;}
.dd_pagination{margin-left: auto;}
.page-link{font-size: 20px;font-family: GothamMedium;border-radius: 5px;border: 0 none;margin-right: 10px;    padding: 3px 13px;color: #014141;}
.page-item.active .page-link{background-color: #F3735F;}
.page-item:last-child .page-link{border: 1px solid #F3735F;color: #F3735F;font-family: gotham-book;font-size: 14px;    padding: 8px 20px;}
.dd_centre_div{z-index: 99;position: absolute;top: 37%;left: 50%;transform: translate(-50%, -50%);}
.dd_arrow1{position: absolute;left: -20px;top: -20px;}
.dd_arrow2{position: absolute;right: -20px;top: -20px;}
.dd_arrow3{position: absolute;left: 0;top: 110%;}
.dd_arrow4{position: absolute;right: 0;top: 100%;}
.dd_bgimg{background: url(../images/Group_970.png) 0 0 no-repeat;background-size: cover;padding: 30px 0px 0px 20px;}
.g_life{background: url(../images/Group_972.png) 100% 0 no-repeat;background-size: cover;}
.footer_top_sec{background: url(../images/footer_top_bg.png) 70% 0 no-repeat;background-size: cover;min-height: 600px;}
.dd_ul {list-style: none;}
.dd_ul li{position: relative;}
.dd_ul li:after,.dd_ul li:before{position: absolute;content: '';}
.dd_ul li:after{left: -30px;top: 2px;background: #90D49B;height: 20px;width: 20px;border-radius: 50%;}
.dd_ul li:before{left: -26px;top: 7px;border-bottom: 2px solid #fff;border-left: 2px solid #fff;height: 6px;width: 12px;z-index: 99;transform: rotate(-45deg);}
.footer_top_sec p{font-style: italic;}
.about_say_img{width: 60px;height: 60px;border-radius: 50%;flex: 0 0 60px;}
/*about us */
.about_us .banner-index{background: url(../images/about-banner/about-banner.png) center 0 no-repeat;background-size: cover;}
.img_dir img{width: 100%;}
.img_dir{padding-right: 20px;padding-bottom: 20px;}
.about_reg{background: url(../images/about-banner/adorable-brown.png) 0 0 no-repeat;background-size: cover;}
.about_pos{z-index: 99;position: absolute;right: 20px;bottom: 15px;width: 15%;}
.dd_card_group {border: 1px solid #008BB7;height: 100%;display: inline-block;}
.dd_card{padding: 25px 20px;display: inline-block;height: 100%;}
.dd_abs{bottom: 96%;left: 0px;position: absolute;}
.about_reg:after{position: absolute;content: '';left: 0;top: 0;width: 100%;height: 100%;background: #ffffff8a;z-index: 1;}
.dd_allCNT {z-index: 99;position: relative;}
   /*about end*/
.bl_Convers_img img{width: 100%;    object-fit: contain;height: 100%;}
.bl_Convers_cnt strong{display: inline-block;}
.bl_Convers_cnt p{margin-bottom: 0px;}
.bl_Convers_heart{position: absolute;top: 5%;right: 5%;cursor: pointer;}
.bl_Convers_heart svg,.bl_Convers_heart i{font-size: 25px;color: #fff;transition: 0.3s;}
.bl_Convers_heart.active svg,.bl_Convers_heart.active i{color:#FF0000;}
.bl_pagination .page-item.active .page-link{background-color: #000000;}
.bl_pagination .page-item:last-child .page-link{border: 1px solid #000000;color: #000000;}
.accepted.show,.pending.show{display: block;}
.accepted,.pending{display: none;}
.accepted .pndng,.pending .acptd{display: none;}
.pndng,.acptd{position: relative;}
.pndng:after,.pndng:before,.acptd:after,.acptd:before{position: absolute;content: '';outline: 2px solid;border-radius: 50%;left: -30px;top: 1px;width: 18px;height: 18px;}
.acptd:before{background: #00882D;}
.pndng:before{background: #F8D033;}
/*footer style*/
.dd-text1{position: absolute;bottom: 60%;left: 0;z-index: -1;}
.dd-text2{position: absolute;bottom: 30%;right: 0;z-index: -1;}
footer{background: #E7E7E7;}
footer .copyright {background: #000;}
footer .copyrihgt-text{font-size: 14px;font-family: GothamMedium;padding: 7px 0;}
.footer h4{font-size: 16px;color: #000000;font-weight: 700;}
.quick_linkks a{font-size: 14px;color: #3C2313;font-weight: 400;display: block;margin-bottom: 5px;}
.dd_social_icons{cursor: pointer;display: flex;}
.dd_social_icons svg.fa-facebook{font-size: 35px;}
.dd_social_icons svg.fa-facebook path{fill: #557ccb;}
.dd_social_icons .instagram{
       background-image: linear-gradient(to right, #df774c , #9e3d97);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dd_social_icons .instagram svg{font-size: 26px;}
.dd_social_icons .instagram svg path{fill: #fff;}
              /*black style*/
/*header-black start*/
.bl_right_icons>div{background: #fff;border-radius: 50%;text-align: center;padding: 10px 15px;cursor: pointer;}
.bl_left_bar{cursor: pointer;}
.bl_logo{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
/*header-black end*/
.bl_home{height: 500px;background: url(../images/bl_black/bl_man_banner.png) 70% 0 no-repeat;background-size: cover;}
.treding_img{text-align: center;border: 1px solid #D4D4D4;border-radius: 13px;padding: 30px 40px 60px;margin-bottom: 20px;}
.bl_women_banner{box-shadow: inset 200px -60px 300px rgb(0 0 0 / 90%);background: url(../images/bl_black/bl_women_banner.png) 70% 0 no-repeat;background-size: cover;}
.bl_unisex_banner{background: url(../images/bl_black/bl_unisex_banner.png) 70% 0 no-repeat;background-size: cover;}
.pink_bggirl{background: url(../images/bl_black/pink_bggirl.png) 70% 0 no-repeat;background-size: cover;height: 350px}
.comming_soon{background: url(../images/bl_black/comming_soon.png) 0% 0 no-repeat;background-size: cover;height: 350px}
.bl_kp_input{width: 50%;margin: 0 auto;}
.bl_kp_input .search-group .search_right .form-control:focus{background: #000;}
.bl_kp_input .search-group:after{position: inherit;}
.bl_kp_input .search_right label{position: absolute;top: 50%;left: 50%;margin-bottom: 0;font-family: GothamMedium!important;transform: translate(-50%, -50%);cursor: pointer;}
.bl_kp_gndr_slct .custom-radio .custom-control-label::before{width: 13px!important;height: 13px!important;}
.bl_kp_gndr_slct  .custom-control-input:checked~.custom-control-label::before{background-color: #CBCBCB;border: 2px solid #000000;}
.bl_kp_gndr_slct .custom-radio .custom-control-input:checked~.custom-control-label::after{background-image: none;}
.bl_color .black{background: #000;}
.bl_color .green{background: #00882D;}
.bl_color .brown{background: #683B32;}
.bl_color .orange{background: #F3735F;}
.bl_color>span{cursor: default;height: 25px;width: 25px;display: block;position: relative;}
.bl_color.active>span:after{position: absolute;content: '';left: -4px;top: -4px;width: 135%;height: 135%;border: 2px solid #707070;}
.treding_box .bl_Convers_heart i{font-size: 30px;color: #000000;transition: 0.3s;}
.slide_icons i{font-size: 40px;cursor: pointer;}
.bl_Convers_heart svg{stroke-width: 5px;width: 30px;height: 30px;stroke: #000000;fill: transparent;transition: 0.3s;}
.bl_Convers_heart.active svg{fill: #FF0000;stroke: #FF0000;}
.treding_box>a{display: block;}
.bl_pament_icons svg{width: 40px;height: 38px;}
.bl_pament_icons svg path{fill: #fff;}
/*footer-black*/
.bl-footer .footer h4,.bl-footer .quick_linkks a,.bl-footer .footer-contact p{color: #ffffff;}
.shop_dnone {display: none;}
.shop_dnone.show{display: block;}
          /*black style end*/
.bl_Convers_cnt p{display: flex;width: 100%;}
.bl_Convers_cnt p span{width: 30%;display: inline-block;}
.bl_Convers_chat>button{display: flex;align-items: center;justify-content: space-between;width: 85%;}
.bl_Convers_chat>button>svg{transform: rotateY(180deg);}
.bl_Convers_cnt{padding: 20px 5px 15px 15px;}
.dd_search>label{width: 100px;}
.banner-index.achive {background: url(../images/achive.png) 0 0 no-repeat;background-size: cover;min-height: 500px;display: flex;align-items: center;box-shadow: inset 200px -60px 300px rgb(0 0 0 / 90%);}
.achieve_cards .card{border: 0 none;}
.dwiggy-form .form-group{position: relative;}
.modal-dialog .dwiggy-form .form-group>input::placeholder{color: #605f5f;font-weight: 500;}
.dwiggy-form .form-group>input::placeholder{color: #272727;font-weight: 600;}
.dwiggy-form  label{display: inline-block;transition: all .2s ease;z-index: 10;position: absolute;top: 10px;left: 20px;font-size: 14px;color: #272727;font-weight: 600;margin-bottom: 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 90%;}
.dwiggy-form .form-group>input,.dwiggy-form .form-group>textarea,.dwiggy-form .form-group>select{    font-size: 14px;border-radius: 10px;border: 1px solid #70707050;height: calc(2em + 0.75rem + 6px);color: #272727;font-weight: 600;padding-top: 10px;position: relative;    z-index: 99;background: transparent;}
.dwiggy-form .form-group>textarea{min-height: 100px;}
/*.dwiggy-form .form-group>input:focus~label,.dwiggy-form .form-group>input:valid~label{top: -50%;}*/
 .dwiggy-form input:focus ~ label,
 .dwiggy-form input:valid ~ label,
 .dwiggy-form textarea:focus ~ label,
 .dwiggy-form textarea:valid ~ label {top: 0px;font-size: 10px;opacity: 0.5;}
.dd_form_btn button{background: #f3735f;border: 1px solid;border-radius: 10px;padding: 10px 0px;width: 225px;}
.modal{transition: 0.5s;}
.modal.fade .modal-dialog{transition: 0.5s!important;}
.modal.show{background: #00000050;z-index: 9999;}
/*.modal.show .modal-dialog{align-items: center;display: flex;width: 100%;height: 100%;}*/
.modal-header .close span{font-weight: 400;font-size: 40px;}
.login_pp.form-row{flex-wrap: nowrap; transform: translateX(5px);transition: 0.3s;}
.login_pp .login_id {flex: 0 0 100%;}
.login_pp .login_mob {flex: 0 0 100%;margin-left: 70px;transition: 0.3s;}
.modal-header,.modal-footer{border-bottom: none;border-top: none;justify-content: center;}
.modal-dialog .dwiggy-form .form-group>input{font-weight: 400;padding-top: 0px;}
.modal-content{overflow: hidden;}
.login_pp.form-row.active{transform: translateX(-470px);}
.pp_after{position: fixed;top: 0;left: 0;background: #00000050;width: 100%;height: 100%;z-index: 10000;}
.pp_after_body{position: relative;width: 80%;background: #fff;text-align: center;margin: 0 auto;transform: translateY(50px);padding: 50px 30px;}
.img-abs{position: absolute;right: 0px;top: 0;width: 60px;height: 46px;text-align: center;line-height: 40px;background: #fff;border-left: 1px solid #D4D4D4;}
.close_popup{cursor: pointer;display: inline-block;position: absolute;top: 20px;right: 30px;}
.close_popup i,.close_popup svg{    font-size: 20px;}
.dd_profile .nav {border-radius: 6px;border: 1px solid #00000039;width: 100%;padding: 0 20px;}
.dd_profile .nav-pills .nav-link{border-radius: 0;font-size: 20px;font-weight: 500;color: #00000075;border: 0 none;font-family: GothamMedium!important}
.dd_profile .nav-pills .nav-link.active{border-bottom: 3px solid;color: #f3735f;background-color: transparent;}
/*.dd_form_btn .btn:hover{color:#008BB7!important;background:#fff!important;}*/
.dd_form_btn .bg-trsprnt:hover{color:#f3735f!important;}
.login_pp_btn .btn.disabled {opacity: .65;cursor: default;position: relative;}
.login_pp_btn{position: relative;}
.login_pp_btn[disabled="disabled"]:after{position: absolute;content: '';width: 100%;height: 100%;background: #00000047;left: 0;top: 0;border-radius: 6px;z-index: 99;}
#submitbtn{cursor: pointer;}
.bl_Convers_cnt.bdr-none{border: 0 none;}
.act_frnd_list{list-style-type: none;border-radius: 6px;border: 1px solid #D4D4D4;position: absolute;bottom: 0;left: 10px;width: 100%;height: 0%;background: #fff;overflow: hidden;visibility: hidden;transition: 0.3s;}
.act_frnd_list.show{visibility: visible;height: auto;}
.bl_Convers{border-radius: 13px;overflow: hidden;border: 1px solid #D8D8D8;background: #fff;}
.bl_Convers_bdr{border: 1px solid #D4D4D4;}
.bdr_btm_light{border-bottom: 1px solid #D4D4D450;}
.act_frnd_list button{padding: 13px 0;transition: 0.3s;}
.act_frnd_bar {top: -30px;position: relative;display: inline-block;margin-top: 30px;}
.act_frnd_bar>svg{font-size: 30px;cursor: pointer;}
.act_frnd_list button:hover{color: #fff;background: #f3735f!important;}
.act_frnd_list button.active{color: #fff;background: #f3735f!important;}
.card-header button:hover,.card-header button{text-decoration: none!important;}
.card-header button.dog_partner:after,.card-header button.dog_partner:before{position: absolute;content: '';right: 0;top: 50%;transform: translate(0px, -50%) rotate(0deg);width: 22px;height: 3px;background: #fff;transition: 0.3s;}
.dd_colapse{border-radius: 20px;border: 1px solid #C1C1C1;overflow: hidden;}
.card-header button.collapsed:before{transform: translate(0px, -50%) rotate(90deg);}
.dd_thoght_text{background: #F2F2F2;border: 1px solid #F2F2F2;border-radius: 30px;width: 90%;}
.dd_text_input{width: 80%;}
.dd_moji{display: flex;justify-content: center;align-items: center;background: #008bb7;color: #fff;height: 35px;width: 35px;line-height: 40px;border-radius: 50%;text-align: center;cursor: pointer;}
.dd_moji:last-child{background: #F3735F;}
.dd_centre_div .dd_form_btn {position: absolute;top: 100%;left: 50%;transform: translate(-50%, 10px);width: 150px;z-index: 999;}
.dd_centre_div .dd_form_btn button{width: 100%;}
.thought_sec{background: url(../images/thought_banner.png) 0 0 no-repeat; background-size: cover;    background-position: 40% 0%}
.banner-index.achive.h_advice_bnr{background: url(../images/homen_advive_bnr.png) 0 0 no-repeat; background-size: cover;}
.fsuggetion_img{width: 100px;height: 100px;background: red;border-radius: 50%;line-height: 100px;}
.dd_form_btn button svg{transform: rotatey(180deg);}
.fsuggetion  .dd_form_btn button{width: 200px;}
.bl_Convers_heart .svg{height: auto;width: auto;transition: 0.3s;}
.bl_Convers_heart .svg path{fill: #fff;transition: 0.1s;}
.bl_Convers_heart.active .svg path{fill: red;}
.box{width: 72px;height: 72px;border-radius: 50%;line-height: 72px;position: relative;z-index: 99;}
.box .img_prev{z-index: 9;top: 0;left: 0;position: absolute;width: 72px;height: 72px;border-radius: 50%;overflow: hidden;outline: 1px solid #bdbcbca1;padding: 5px;background-size: cover!important;background-position: center;}
 .box input{position: relative;width: 72px;height: 72px;border-radius: 50%;z-index: 99;opacity: 0;}
.dd_profile.bg_img {background: url('../images/sasa.png') 0 0 no-repeat;background-size: cover;}
.upload-options{position: relative;}
.upload-options img{position: absolute;left: 0;top: 0;}
.bl_md_cnt{position: relative;padding: 45px 0;}
.bl_md_cnt:after,.bl_md_cnt:before{left: 50%;transform: translate(-50%, 0px);position: absolute;content: '';height: 2px;width: 45%;background: #000;}
.bl_md_cnt:after{top: 0;}
.bl_md_cnt:before{bottom:0;}
.bl_trending .owl-carousel .owl-nav.disabled{display: block;font-size: 50px;position: absolute;top: -130px;right: 0;}
.bl_trending .owl-carousel .owl-nav button.owl-prev{margin-right: 15px;}
.bl_trending .owl-carousel .owl-nav button.owl-prev>span{color: #918f8f;}
.bl_trending .owl-carousel .owl-nav button.owl-next>span{color: #000;}
.bl_trending .owl-theme .owl-dots{display: none;}
.owl-theme .owl-nav [class*='owl-']:hover{background: transparent;color: inherit;}
.bl_shop_bag {display: inline-block;}
.bl_shop_bag .bl_Convers_heart{right: -30%;top: 10%;}
.detail_accordian .card-header button{position: relative;}
.detail_accordian .card-header button:after,.detail_accordian .card-header button:before{position: absolute;content: '';height: 10px;width: 2px;background: #000;right: 0;top: 50%;transition: 0.3s;}
.detail_accordian .card-header button:after{transform: translate(0px, -50%) rotateZ(45deg);right: 6px;}
.detail_accordian .card-header button:before{transform: translate(0px, -50%) rotateZ(-45deg);}
.detail_accordian .card-header button:hover{color:#000;}
.detail_accordian .card-header button.collapsed:after{transform: translate(0px, -50%) rotateZ(-45deg);right: 6px;}
.detail_accordian .card-header button.collapsed:before{transform: translate(0px, -50%) rotateZ(45deg);}
.detail_accordian .accordion>.card>.card-header{border: 1px solid #C1C1C1;}
.detail_accordian .accordion>.card{border-top-style: hidden!important;border: 1px solid #C1C1C1;}
/*.tradding_popup_box{border: 1px solid #707070;width: 80%;margin: 0 auto;background: #fff;height: 100%;overflow: scroll;}*/
.tradding_popup_box .close{position: absolute;top: 60%;right: 20px;transform: translate(0px, -50%);opacity: 1;cursor: pointer;}
.tradding_popup{position: fixed;top: -1000px;z-index: 99999;opacity: 0;transition: 0.3s;}
.tr_pp{position: relative;}
.tr_pp:after{position: absolute;content: '';left: 0;top: 0;height: 100%;width: 100%;background: #00000085;z-index: 999;}
.tr_pp .tradding_popup{top: 100px;opacity: 1;height: 100%;}
.tr_minimg{border: 1px solid #D4D4D4;}
#SizeGuide .modal-footer button{padding: 9px 100px!important;} 
#SizeGuide .table thead th,#SizeGuide .table td,#SizeGuide .table th{border: 0 none;}
#SizeGuide .table td{font-size: 18px;color: #000;font-weight: 500;}
#SizeGuide .table td.size_bold{font-size: 20px;color: #000;font-weight: 600;}
#SizeGuide .dd_profile .nav-pills .nav-link.active,#SizeGuide .dd_profile .nav-pills .nav-link{color: #000000;}
.banner .owl-theme .owl-nav{display: none;}
#SizeGuide .nav-pills .nav-link{border: 0 none;color: 00000052;}
#SizeGuide .nav-pills .nav-link.active{background-color: transparent;border-radius: 0;color: #000;border-bottom: 1px solid #000;}
.dd_img_direction .img_dir:first-child{left: 100px;position: relative;margin-top: 100px;}
.bl_Convers_cnt>strong:first-child{position: relative;}
.bl_Convers_cnt>strong:first-child:after{display: none; position: absolute;content: '';right: -50px;top: 0px;background: url(../images/beagle.png) 0 0 no-repeat;background-size: cover;height: 25px;width: 25px;}
.footer .nav-link{padding: 0px;}
.bl_Convers_img .carousel-indicators{margin-right: 0;margin-left: 0;width: 100%;justify-content: space-evenly;align-items: center;margin-bottom: 10px;}
.bl_Convers_img .carousel-indicators li{width: 70px;height: 70px;text-indent: 0px!important;background-clip: border-box;margin: 0px;border: 0 none;background: transparent;}
.bl_Convers_img .carousel-indicators li img{border-radius: 13px;}
.bl_Convers_img .carousel-indicators li.active img{border: 2px solid #008bb7;}
.questonaire_bg{background: url(../images/Questonaire_bg.png) 0 0 no-repeat;background-size:  cover;}
.pawfect_match{background: url(../images/pawfect_match.png) center 0 no-repeat;background-size:  cover;position: relative;}
.dd_colapse .card-body{position: relative;}
.dd_colapse .card-body:after{  position: absolute; content: ''; height: 60%;  width: 50%; background: url(../images/dwiggy_cntr.png) center 0 no-repeat;background-size:  cover;  top: 50%;left: 50%;transform: translate(-50% , -50%);opacity: 0.1;}
.modal-content.bg-lgray .dwiggy-form .form-group>input{background: #fff;}
#ModalMyConnection2 .close{top: 40%;}
#ModalMyConnection2 .modal-dialog{max-width: 75%;}
#ModalMyConnection2 .carousel-indicators li{width: auto;height: auto;margin-right: 10px!important;}
/*dog gif*/
.dog_gif_div{position: fixed;top: 50%;left: 0;transform: translate(0px, -50%); z-index: 9999;}
.dog_gif_btn button img{transform: rotateY(180deg);}
.dog_gif_div.open .dog_gif.d-none{display: block!important;}
.dog_gif_btn button{display: block;transition: 0.3s;}
.dog_gif_div.open button{display: none;}
section{overflow: hidden!important;}
.all_breed .bl_Convers_cnt>strong:first-child:after{top: 0px;right: -150px;}
.bl_Convers_img .carousel-indicators li img{border: 3px solid #7E7E7E;}
.bl_Convers_img .carousel-indicators li.active img{border: 3px solid #F3735F;}
.Group1253>img{outline: 2px solid #F3735F;outline-offset: -2px;}
.pun_dog {background: url(../images/new_xd_images/Group2126.png) 0 0 no-repeat;background-size: cover;height: 350px;width: 100%;}
.img_dir .pos-abs{position: absolute;top: 50%;left: 50%;width: 30px;height: 30px;transform: translate(-50%, -50%);}
.dd_cnt>p{line-height: 1.2;}
/*.journy_rgt_cnt{background: url(../images/new_xd_images/Icon-cloud.png) 0 0 no-repeat;
      background-size: cover;width: 100%;min-height: 380px;text-align: center;padding-top: 80px;}*/
.journy_rgt_cnt .pd-first{padding: 0 20%;line-height: 1.7;}
.journy_rgt_cnt .pd-sec{margin: 0 auto;width: 80%;line-height: 1.7;}
.journy_cnt{height: 100%;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: space-around;}
.journy_rgt_cnt{position: relative;padding-top: 90px;text-align: center;padding-bottom: 30px;}
.journy_rgt_cnt>img{position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: -1;}
.journy_rgt_abs{  position: absolute;content: '';left: -60%;top: 90%;width: 100%;z-index: -2;}
.journy_lft_abs{position: absolute;content: '';left: 20%;top: 50%;width: 100%;z-index: -2;}
.km_abs{position: absolute;bottom: 0;left: 5px;width: 40px;line-height: 46px;text-align: center;height: 46px;border-right: 1px solid #70707050;}
.km_abs~.form-control{height: 46px;padding-left: 46px;}
.dd_all_req .form-control{height: 46px;}
.dd_know_img{height: 100px;width: 100px;}
.dd_know_img img{height: 100%;width: 100%;object-fit: cover;}
.package_box{margin-top: 10px;border: 2px solid #f3735f36;border-radius: 13px;transform: scale(1);transition: 0.3s;}
.package_box.active{border: 2px solid #f3735f;transform: scale(1.05);}
.package_box:hover{border: 2px solid #f3735f;transform: scale(1.05);}
.package_cnt,.package_btn{padding: 20px 30px;}
.package_cnt{border-bottom: 1px solid #bdbdbd;}
.conditions_drop{display: none;}
.cnd_drp_btn svg{transform: rotate(0deg);transition: 0.3s;}
.enable.cnd_drp_btn svg{transform: rotate(180deg);}
.bg_heart{background: url(../images/new_xd_images/bg_heart.png) 0 0 no-repeat;background-size: cover;width: 100%;}
.dd_priorities .form-control{padding: 12px 0px;height: auto;}
.form-control:focus{color: #f3735f;border-color: #f3735f;}
.bg_color {width: 5px;height: 100%; margin: 0 auto;}
.bg_video{background: url(../images/new_xd_images/bg_video.png) 0 0 no-repeat;background-size: cover;width: 100%;position: relative;height: 500px;}
.big_play_btn{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
.prf_otm {margin-top: -17%;display: inline-block;background: #fff;padding: 15px 12px;border-radius: 5px;box-shadow: 0px 3px 6px #00000029;}
.both_happy .bl_Convers_img .carousel-indicators,
.bg_heart .bl_Convers_img .carousel-indicators{margin-left: 20px;justify-content: space-between;}
.chat_search{padding: 10px 20px;border-bottom: 5px solid #fff;position: sticky;top: 0px;left: 0px;z-index: 99;background: #d4d4d4;border-radius: 10px 10px 0 0;}
.chat_search_cnt svg{cursor: pointer;font-size: 30px;}
.chat_srch_input {font-size: 16px;padding: 10px 20px;display: none;}
.chat_lft_top .nav .nav-link{width: 100%;padding: 10px 20px; border: 0 none;border-radius: 5px;transition: 0.3s;}
.nav-tabs .nav-link.active{border-left: 5px solid #F3735F;box-shadow: 0px 3px 6px #00000029;}
.chat-main-tab{position: relative;justify-content: stretch;align-items: center;display: flex;}
.chat_lft_top .nav-tabs{ padding: 15px 0px;border-bottom: none;}
.chat_aria_top {position: sticky;border-radius: 5px;border-bottom: 5px solid #fff;padding: 10px 20px;}
.chat_aria_btm {position: relative;border-radius: 5px;padding: 10px 20px;}
.chat_you {padding-top: 20px;list-style-type: none;}
.chat_me {list-style-type: none;}
.chat_aria_btm li{display: inline-block;padding: 10px 20px;}
.chat_you li{border-radius: 12px 12px 12px 0px;margin-left: 50px;}
.chat_me li{border-radius: 12px 12px 0px 10px;margin-right: 50px;}
.chat_icons img,.chat_icons span{margin-right: 15px; height: 29px;width: 29px;text-align: center;cursor: pointer;padding: 5px 5px;border-radius: 50%;line-height: 20px;}
.chat_icons span svg{color: #fff;}
.lets_chat {padding: 8px 0;border-radius: 30px;position: sticky;bottom: 0;left: 0;}
.chat_send>span{background: #F3735F;padding: 5px 7px;height: 44px;width: 44px;border-radius: 50%;line-height: 40px;display: inline-block; margin-left: 20px;}
.chat_send>span svg{    color: #fff;font-size: 24px;}
.chat_lft_btm span{padding: 10px 12px;border-radius: 50%;background: #F3735F;text-align: center;}
.chat_lft_btm span svg{font-size: 20px;color: #fff;}
.div-left{display: flex;flex-wrap: wrap; flex-direction: column;justify-content: space-between;height: 100%;}
.chat-main-time{    position: absolute;bottom: 0;right: 0;}
.chat-main-cnt p:last-child{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 80%;}
.chat-arrow-left{position: absolute;left: 10px;top: 50%;transform: translate(0px, -50%);display: none;}
.chat-arrow-left svg{font-size: 20px;}
.chat_lft_top {position: relative;}
.chat_aria_top{    z-index: 999;left: 0;top: 0;}
.chat_option_rgt {position: relative;}
.chat_aria_top .accordion{width: 200px;top: 40px;    right: 0;position: absolute;display: none;}
.chat_aria_top .accordion>.card>.card-header{padding: 5px 0px;background: #fff;}
.chat_aria_top .card-header button.collapsed p{color: #000!important;transition: 0.3s;}
.chat_aria_top .card-header button.collapsed p:hover,
.chat_aria_top .card-header button p{color: #f3735f!important;}
.chat_aria_top .act_frnd_list{position: inherit;}
.chat_aria_top .card-body{padding: 0 0;}
.chat_option_rgt.add .acc-pri path{fill: #f3735f;}
#myChatTabContent.bg-chat{background: url(../images/owner_profile.png) center 0 no-repeat;width: 100%;position: relative;height: 100%;}
.chat_aria_top .accordion>.card>.card-header button.collapsed svg{ transition: 0.3s;transform: rotate(0deg);}
.chat_aria_top .accordion>.card>.card-header button svg{transform: rotate(180deg);}
.chat_you li:first-child,.chat_me li:first-child{position: relative;}
.chat_you li:first-child:after{position: absolute;content: '';background: url(../images/new_xd_images/william.png) center 0 no-repeat;left: -60px;top: 0;width: 50px;height: 50px;}
.chat_me li:first-child:after{position: absolute;content: '';background: url(../images/new_xd_images/victoria.png) center 0 no-repeat;right: -60px;top: 0;width: 50px;height: 50px;}
.cmp_dd_arrow .dd_arrow1{top: 20%;}
.cmp_dd_arrow .dd_arrow2{top: 20%;width: 80px;}
.our_story_box {box-shadow: 0px 3px 6px #00000029;border-radius: 5px;padding: 18px;min-height: 325px;}
.our_story_img .box {min-height: 225px;width: 100%;}
.our_story_img .box .img_prev{height: 100%;width: 100%;border-radius: 5px;}
.our_story_img .upload-options{height: 100%;width: 100%;}
.our_story_img .box input{height: 100%;width: 100%;}
.our_story_img .upload-options img{height: 100%;width: 100%;}
.our_story_img {min-width: 200px;}
.owl-carousel .owl-item .our_story_cnt  img{border-radius: 50%;height: 46px;width: 46px;}
.our_story_row.owl-theme .owl-dots{display: none;}
.our_story_row.owl-carousel.owl-loaded{margin: 0 auto;width: 90%;}
.concern_form textarea{min-height: 200px;border: 1px solid #DBDBDB;}
.concern_form small{bottom: 20px;right: 20px;position: absolute;}
.card_sec .nav-pills .nav-link{border: 1px solid #DEDEDE; background: #F2F2F2;border-radius: 0px;font-size: 14px;color: #333333;font-weight: 400;padding: 25px 50px;transition: 0.3s;}
.card_sec .nav-pills .nav-link.active,
.card_sec .nav-pills .show>.nav-link{background: transparent;border-left: 10px solid #f3735f;color: #000; font-weight: 500;}
.card_sec_tab {border: 1px solid #DEDEDE;display: inline-block;border-radius: 5px;overflow: hidden;}
.card_sec_pill{padding: 10px 30px 30px;}
.pos_abs_cvv{right: 10px;top: 40px;position: absolute;}
.card_sec_pill .form-group label{font-weight: 400;color: #272727;font-size: 14px;}
.card_sec_pill .form-group input{height: calc(1.5em + 0.75rem + 10px);}
.card_sec_pill button{padding: 10px 0;}
/*2-23-2022*/
.footer_top_sec .carousel-control-next,
.footer_top_sec .carousel-control-prev{background: transparent;border: 0 none;width: auto;top: auto;}
.footer_top_sec .carousel-control-next{right: auto;left: 40px;}
.footer_top_sec #carouselExampleFade{padding-bottom: 50px;}
.footer_top_sec .carousel-control-next-icon,.footer_top_sec .carousel-control-prev-icon{background-image: none;}
.vd_dwiggy .bl_Convers_img {height: 245px;padding: 0px;    background: #ffffff;}
.bl_Convers_img video{width: 100%; height: 100%;background: #f3735f;}
#carouselExampleCaptions .carousel-item{max-height: 400px;}
#carouselExampleCaptions .carousel-item video,
#carouselExampleCaptionsPopup .carousel-item video{height: 400px;}
.banner-cnt .head-cnt{width: 70%;display: inline-block;word-break: break-word;}
.tab-pane center{margin-left: 15px;}
.breed_box{    cursor: pointer;}
.questonaire_bg .form-check{z-index: 99;}
.questonaire_bg .form-check input ~ .form-check-label .breed_icon svg path{fill: #f3735f!important;}
.questonaire_bg .form-check input:checked ~ .form-check-label .dd_heading {color: #000!important;}
.questonaire_bg .form-check input:checked ~ .form-check-label .breed_icon svg path{fill: #000!important;}
.questonaire_bg .form-check input{opacity: 0;}

/*dashboard style*/
.aiz-user-sidenav-wrap .sidemnenu {padding: 0 1.5rem 0.1rem;}
.aiz-user-sidenav-wrap .aiz-side-nav-list{list-style-type: none;}
.aiz-user-sidenav-wrap .aiz-side-nav-list .aiz-side-nav-item{margin-bottom: 10px;}
.aiz-user-sidenav-wrap .aiz-side-nav-item a{font-weight: 500;color: #464646;font-size: 18px;}
.aiz-user-sidenav .avatar {display: inline-block;}
.aiz-user-sidenav .avatar img{border-radius: 0%!important;}
.aiz-user-sidenav .avatar~.h5 {font-weight: 600;color: #464646;font-size: 20px;}
.owl-carousel .owl-item .our_story_cnt img{object-fit: cover;}
/*#staticBackdrop .modal-dialog{top: 25%;}*/
.dwiggy-form>.color-blue{border-color: #f3735f;color: #f3735f;}
.vaccume .journy_rgt_cnt>img{position: relative!important;max-height: 400px;}
.mob-banner-index,.mob-about-banner{display: none;}
#accordionExample #collapseOne .card-body>p span{font-size: 18px!important;}
/*11-04-2020*/
/*contact us Privacy and Term use page style*/
.privacy_btntyp{margin-top: 50px;font-size: 18px;padding: 10px 50px 10px 20px;border-radius: 5px 25px 25px 5px;margin-bottom: 30px;display: inline-block;}
label{font-size: 14px;}
.privacy_cnt>div>div ol{font-size: 14px;padding-left: 20px;padding-top: 10px;}
.privacy_cnt>div>div ol li{margin-bottom: 10px;}
.privacy_cnt>p,.privacy_cnt>div{    display: flex;font-weight: 500;font-size: 16px;}
.privacy_cnt p span svg,.privacy_cnt div span svg{font-size: 16px;color: #000;}
.privacy_cnt>p>span:first-child,.privacy_cnt>div>span{display: inline-block;width: 20px;margin-right: 20px;padding-top: 2px;}
.privacy_cnt>p>span:last-child,.privacy_cnt>div>div{display: inline-block;font-size: 16px;font-weight: 500;}
.contact_form .dd_form_btn{position: absolute;bottom: -20px;left: 50%;    transform: translate(-50%, 0px);}
.contact_form_sec {overflow: visible!important;}
.contact_form{position: relative; background: #fff;overflow: visible;padding: 50px 50px 20px;box-shadow: 0px 0px 15px #00000021;border-radius: 25px;}
.contact_form_sec .contact_req{padding-bottom: 6%;}
.contact_banner{text-align: center;position: relative;}
.contact_ctn{position: absolute;bottom: 20px;width: 100%;height: 46px;}
.contact_banner.privacy{background: #ff995e;}
.banner.home{background: #f3735f;}
.cmt_ntcation_area{flex: 0 0 80%;width: 80%;padding: 24px 35px 15px;border-radius: 0px 30px 30px 30px;border: 1px solid #AAAAAA;}
.cmt_ntcation_footer {border-top: 1px solid #d9d9d9;}
.cmt_ntcation_corner{    right: 30px;top: 20px;position: absolute;}
.cmt_ntcation_icon {cursor: pointer;}
.cmt_ntcation i,.cmt_ntcation svg,.cmt_ntcation p{transition: 0.3s;}
/*12-04-2020*/
.dd_allCNT>p{font-size: 18px;color: #000;font-weight: 400;}
.cmt_ntcation_icon  p{font-size: 10px;}
/*country select*/
.bootstrap-select.btn-group .dropdown-menu.open.show{display: block;}
.bootstrap-select.btn-group .dropdown-menu.inner{max-height: 300px!important;}
.dropdown-menu.open{    width: 350px;}
.increment-column .show .dropdown-menu{display: block;}
.increment-column.d-flex{
   order: 2;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #70707050;
    height: calc(2em + 0.75rem + 6px);
    color: #272727;
    font-weight: 600;
    align-items: center;
    position: relative;
    z-index: 99;
    background: transparent;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){    width: 102px;}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{width: 74%;}
/*country select end*/
.fsuggetion>.mr-4>img{height: 100px!important;width: 100px!important;}
.Group1253.pos-rel.text-center>video{width: 100%;}
#section-to-print .card-body span{font-size: 14pt!important;}
.bootstrap-select.btn-group .show .dropdown-menu{display: block;padding-left: 20px;}
.allBreedSec .dd_search .form-control{padding: 0px!important;line-height: 46px;}
.allBreedSec .dd_search .form-control>.dropdown-toggle{    height: 100%;}
/*.allBreedSec .dd_search .form-control>.dropdown-toggle~.dropdown-menu {left: auto!important;right: 0;}*/
/*mames popup and section*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 70px;
  font-weight: 400;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  background: #f3735f;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mames_down{text-align: center;margin: 20px 0;}
.mames_down_btn {    
  min-width: 200px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    border: 0 none;
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    padding: 0 50px;
    border-radius: 50px;
    margin: 0 20px;
  }
  .mames_down_btn.share{background: #58bed7;}
  .mames_down_btn.download{background: #3d2314;}
  #myModal .mySlides{    text-align: center;}
  #myModal .mySlides img{width: 70%!important;}
  .Group1253.pos-rel.text-center>video~a{display: none!important;}
  .dd_search .btn-group.bootstrap-select{padding: 0 0!important;}
  .dd_search .btn-group.bootstrap-select button{height: 100%;}
  .bnr-btm-sec.py-5~.py-5{    overflow: visible!important;}
  .banner.home .banner-cnt .head-cnt{margin-bottom: 0!important;font-size: 50px;line-height: 1;color: #ee4c0e;width: 80%;}
  .banner.home .banner-cnt p:nth-child(2) {display: none;}
  .banner.home .banner-cnt p:nth-child(3) {font-size: 50px;font-weight: 700;margin-bottom: 20px;color: 000;}
  .banner-index .banner-cnt{    padding: 60px 0;}
  /*landing style here*/
.dd_form_btn .bg-orange{background: #F3735F;}
.color-orange{color: #F3735F;}
.bg-orange{background: #F3735F;}
.chat_icons.media,.chat_icons img{display: none;}
.dd_pet_box{overflow: hidden;border-radius: 13px;max-height: 300px;width: 100%;}
.dd_pet_box video{background: #f3735f;width: 100%;}
/*.breed_box{z-index: 99;position: relative;}*/
.breed_box .breed-ctn .dd_heading{transition: 0.3s;color: #f3735f!important;}
.breed_box:hover .breed-ctn .dd_heading {color: #000!important;}
.login_pp_btn .btn{border-radius: 10px;height: 46px;}
.dd_notification{align-items: center;display: flex;}
.dd_notification a{    margin: 0 5px;}
.dd_notification:last-child svg{margin-right: 5px;}
.dd_bgimg .dd_allCNT.ddw p{line-height: 1.2;font-size: 25px;font-weight: bold;color: #272727;    margin-bottom: 0;}
.banner-cnt p{font-size: 18px;font-weight: 500;color: #272727;margin-bottom: 0;}
.banner-cnt .head-cnt~.head-p{display: none;}
.blog .banner-index  .banner-cnt p{color: #fff;}
#ex2,#ex3{display: inline-block;}
#myModal .mySlides #ex2 img,#myModal .mySlides #ex3 img{    width: 100%;}
#myModal .mySlides #ex2.zoom .zoomImg,#myModal .mySlides #ex3.zoom .zoomImg{width: 150%!important;height: 150%!important;}
.slideInLeft .dd_allCNT{margin-bottom: 20px;}
#yoyo{max-height: 500px;overflow-y: scroll;display: none;}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f3735f; 
}
.dd_share {cursor: pointer;}

@media (min-width: 1600px){
   .pun_dog,.thought_sec{    height: 650px;}
.banner-index.home-index{min-height: 650px;}
.pp_after_body{width: 50%;}
}
@media (min-width: 1025px) and (max-width: 1599px){
.pun_dog{height: 500px;margin-bottom: 30px;}
}

@media (min-width: 992px){
.our_story_img {justify-content: center;align-items: center;display: flex;min-height: 260px;}
}
/*mobile view*/
/*@media (max-width: 1025px){
.dd_allCNT {padding: 0 0!important;display: inline-block;border-top-left-radius: 24px;padding: 5px 5px!important;box-shadow: -2px 1px 12px #fff;background: #ffffff94;}
}*/
@media (max-width: 991px){
   .about_us .banner-cnt .head-cnt{width: 70%;}
   .banner-index .banner-cnt p{width: 65%;}
   .banner-index{min-height: auto;}
  .dd_allCNT>p{font-weight: 500;}
  .pun_dog {height: 300px;background-size: contain!important;}
  #ffsection-to-print.thought_sec ,#ffsection-to-print.pun_dog{background-size: contain!important;}
  #ffsection-to-print.pun_dog{height: 300px;}
  .our_story_img .upload-options{height: 100%;}
  .our_story_img .upload-options img{object-fit: contain;    height: 100%;}
  .banner-cnt .head-cnt{width: 60%;}
  .our_story_box{min-height: auto;}
  .our_story_img{    min-width: auto;}
  .our_story_img img{object-fit: cover;height: 100%;}
  .our_story_img .box{min-height: 150px;}
  .cmp_dd_arrow .dd_arrow1{top: 0%;left: -40px;}
  .cmp_dd_arrow .dd_arrow2{top: 0%;right: -30px;}
  .chat-main-img{width: 40%;}
  .chat-main-cnt{width: 60%;}
  .chat_send>span{margin-left: 10px;}
  .chat_icons img, .chat_icons span{margin-right: 10px;}
  .chat-main-cnt p:first-child{font-size: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
  .chat-main-cnt p:last-child{font-size: 18px;}
  .journy_rgt_cnt{padding-top: 100px;}
  .journy_lft_abs{top: 70%;}
  .journy_rgt_abs{left: -50%;}
.pawfect_match .col-lg-7{z-index: 99;}
.pawfect_match:after{position: absolute;content: '';top: 0;left: 0;height: 100%;width: 100%;background: #f6f6f65c;}
.search-header{width: auto;}
.dd_middle .dd_middle_cnt h2{font-size: 25px;}
.dd_middle .dd_middle_cnt strong{font-size: 50px;}
.about_us .banner-index{background-position: 70% 0%;}
.bl_Convers{padding-right: 0px;}
}
@media (min-width: 768px) and (max-width: 991px){
   .dd_centre_div .dwiggy_cntr img{width: 250px;}
   .banner-index .banner-cnt{line-height: 1;}
   .dd_bgimg .dd_allCNT{width: 80%;}
   .dd_bgimg{background-position: 50% 0;padding: 0px 0px 0px 0px;}
  .bl_Convers{max-height: 450px!important;}
.bl_logo{width: 170px;left: 45%;}
.dd_know_img{width: 100%;}
.our_story_img{min-width: auto;height: 175px;display: flex;align-items: center;justify-content: center;}
}
@media (max-width: 767px){
   .about_us .banner-cnt .head-cnt{width: 50%;}
   .banner-cnt .head-cnt{font-size: 20px;}
   .banner.home .banner-cnt .head-cnt{    margin-bottom: 0!important;font-size: 20px;}
   .banner.home .banner-cnt p:nth-child(3){font-size: 20px;margin-bottom: 10px;}
   .banner-cnt p{font-size: 14px;margin-bottom: 0;}
   .Dwiggy_bnr_btn{margin: 20px 0px!important;}
   .Dwiggy_bnr_btn a .dwiggy_btn {font-size: 10px;height: 30px!important;padding: 0px 20px;}
   .banner-index .banner-cnt{padding: 20px 0!important;line-height: 1;}
  .mames_down_btn{height: 46px;font-size: 18px;line-height: 46px;}
.mames_down_btn.share{margin-bottom: 20px;}
  .dd_thoght_text .dd_text_input input.f-18::placeholder{font-size: 12px;}
  .allBreedSec .bl_Convers_img img{object-fit: contain;}
  .about_say_img{    width: 50px;height: 50px;flex: 0 0 50px;}
  .dd_thoght_text .dd_text_input .f-18{width: 100%!important;}
  .dd_moji{margin-right: 10px!important;}
  .banner.human_AdViCe{position: relative;}
.banner.human_AdViCe:after{
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #00000040;
  z-index: 1;
}
  .human_AdViCe .achive.banner-index{margin-bottom: 0%!important;}
  .human_AdViCe .achive .banner-cnt p font,.human_AdViCe .banner-cnt .head-cnt{color: #ffff!important;}
  .contact_form{padding: 50px 20px 20px;}
   .contact_bnr img{min-height: 260px;object-fit: cover;}
   .contact_ctn>h1{font-size: 40px;}
   .privacy_cnt>h2{font-size: 36px;}
   .cmt_ntcation {flex-wrap: wrap;}
  .banner.home .owl-theme .owl-dots{top: 90%;bottom: auto;}
  .banner-index.achive.h_advice_bnr{height: auto;}
  .banner-index.achive.h_advice_bnr .banner-cnt{    top: 0;z-index: 9;}
  .pun_dog{    height: 140px;}
  #ffsection-to-print .pp_after_cnt>h3{font-size: 30px;}
  .dd_colapse .card-body.p-5{padding: 20px 20px!important;}
  #accordionExample #collapseOne .card-body>p span{font-size: 11pt!important;line-height: 1.3!important;}
  #ffsection-to-print.pun_dog{height: 150px;}
  #ffsection-to-print.thought_sec .col-md-6.pt-5>.text-center{margin: 0 auto;width: 30%;}
  #ffsection-to-print.thought_sec .col-md-6.pt-5>.text-center~.dd_heading{width: 100%;font-size: 24px;margin-bottom: 0px!important;}
  .modal#dynamicBackdrop .modal-content{left: 2px;top: -5px;}
  .modal#staticBackdrop .modal-dialog,.modal#dynamicBackdrop .modal-dialog{height: auto!important;top: 50%;    transform: translateY(-50%);}
  #staticBackdrop .dd_heading,#dynamicBackdrop .dd_heading{padding-top: 0px!important;font-size: 24px;}
  #staticBackdrop .modal-header,#dynamicBackdrop .modal-header{padding-bottom: 0px;}
  #staticBackdrop .form-group>span,#dynamicBackdrop .form-group>span{font-size: 14px;}
  #staticBackdrop .login_pp_btn .btn,#dynamicBackdrop .login_pp_btn .btn{font-size: 14px;height: 40px;}
  #staticBackdrop .modal-footer>p,#dynamicBackdrop .modal-footer>p{font-size: 14px;}
  #staticBackdrop .modal-footer~.login_cnt p,#dynamicBackdrop .modal-footer~.login_cnt p{font-size: 14px;}
  .bnr_btm_img{top: -80%;width: 50px;}
  .about_us .banner-index{min-height: auto;}
  .banner.about_us{background: none!important;}
  .mob-banner-index{display: block;}
  .vaccume .journy_rgt_cnt>img{display: block;}
  #staticBackdrop .modal-dialog{margin: 0 auto;}
  .cmp_dtl>.container>.row>.col-md-4.mb-4{max-width: 100%!important;flex-basis: 100%!important;width: 100%!important;}
  .our_story_img{align-items: center;    display: flex;    min-height: 280px;}
  .our_story_row.owl-carousel.owl-loaded{    width: 100%;}
  .our_story_box{    min-height: 420px;}
  .our_story_img .box{    min-height: 280px;}
  .our_story_box{width: 100%;}
  .card_sec_tab #cardpills-tab .nav-item{width: 33.33%;}
  .card_sec .nav-pills .nav-link{padding: 25px 20px;}
  .cmp_dtl~section .bg_video{height: 300px!important;}
  .cmp_dd_arrow .dd_arrow2{transform: rotate(120deg) scale(1.5);top: 100%;right: 20px;}
  .cmp_dd_arrow .dd_arrow1{top: 0%;left: 40px;transform: rotate(80deg) scale(1.5) scaleY(-1.5);}
  .chat_sec .fade:not(.show){opacity: 1;}
  .chat_sec .fade{transition: auto;}
  #myChatTabContent.bg-chat{background: none;}
  .chat-arrow-left{display: block;}
  .chat_aria_img {padding-left: 20px;}
  .chat_sec>.container>.row{position: relative;height: 500px;overflow-x: scroll;}
  .chat_sec>.container>.row>.col-md-8.mb-4{position: absolute;top: 0;left: 0;height: 100%;display: none;transition: 0.3s;}
  .chat_sec>.container>.row.active>.col-md-8.mb-4{display: block;z-index: 999;}
  .chat-main-img{width: auto;}
  .bg_color{width: 100%;height: 5px;}
  .dd_know_cnt {justify-content: center;}
  .dd_know_img{margin: 0 auto;    width: auto;    height: auto;}
  .dd_journy .col-md-5{order: 1;}
  .dd_journy .col-md-7{order: 2;}
  .journy_rgt_abs{left: 10%;top: 120%;transform: rotate(-40deg);}
  .journy_lft_abs{left: 10%;top: 80%;transform: rotate(70deg);}
  .pawfect_match .banner-cnt{top: 0;}
  .dd_like_share:first-child{margin-bottom: 20px;}
  .dd_like_share{justify-content: space-between;width: 100%;}
  .dd_like_cnt.ml-4{margin-left: 10px!important;}
  .dd_colapse .card-body.p-5{padding: 30px 20px!important;}
  .dd_colapse .card-body:after{display: none;}
  .bl_Convers_img .carousel-indicators{margin-bottom: 0;}
  /*trding popup modal*/
  .show.login_madal .modal-dialog{margin: 0.5rem;}
  .pp_after_body{width: 90%;}
  .modal-dialog{width: 95%;max-width: 95%;margin: 0px;}
  .tradding_pp_header .modal-title{padding-left: 10px;text-align: start;}
  .tradding_popup_box .close{top: 65%;}
  #SizeGuide .treding_box.d-flex{flex-wrap: wrap;}
  #SizeGuide .treding_img{margin-left: initial;width: 70%!important;margin: 0 auto;}
  #SizeGuide .treding_cnt {padding: 0 0!important;margin: 0 0!important;}
  #SizeGuide .dwiggy-form{overflow-x: scroll;}
  #SizeGuide .modal-footer button{width: 100%;padding: 9px 50px!important;}
  /*header mobile view*/
  .header-right .dd_logo {text-align: center;width: 100%!important;}
  .header-right .dd_right_bar {display: none!important;}
  header .navbar .header-right-icons{display: block!important;padding-right: 10px;}
  header .navbar .header-right-icons  i{border: 1px solid #ffffff45;height: 30px;width: 30px;line-height: 30px;color: #ffffff;font-size: 13px;}
  header .navbar .header-right-icons .count-num{background: #683B32;}
  header .navbar{padding: 10px 5px!important;}
  header .navbar-collapse{padding: 10px 0 5px 0;}
  header .navbar-collapse .search-group{background: #fff;}
  .search-group .form-control, .dd_search .form-control{font-size: 12px;padding: 13px 13px!important;}
  .dd_notification,header .navbar-collapse .navbar-nav {padding-top: 10px;padding-left: 10px;}
  .search-header{display: block!important;}
  /*header mobile view end*/
  /*banner mobile view */
  .banner-index{background: url(../images/COVER.png) 70% 0 no-repeat;background-size: cover;}
  .banner-cnt{padding: 20px 0!important;position: relative;}
  .owl-theme .owl-dots{bottom: auto;top: 200px;}
  /*banner mobile view end*/
  /*about us*/
  .about_us .banner-index{background-position: 70% 0%;    margin-bottom: 50px;}
  .dd_middle  { flex-wrap: wrap;}
  .dd_middle_img {width: 100%;text-align: center;}
  .dd_middle_cnt{display: flex;align-items: center;width: 100%;justify-content: center;text-align: center;flex-wrap: wrap;}
  /*---------*/
  .dd_search>p{text-align: end;}
  .dd_colapse .card-header button{width: 95%;line-height: 1.2;font-size: 20px!important;}
  .card-header button:after, .card-header button:before{right: -15px;}
  .thought_sec{background-position: 45% 0%;}
  .bl_chat_group{padding-left: 10px;}
  .dd_img_pos{top: -30px;left: 70%;}
  .breed_sec:after,.breed_sec:before{position: inherit;}
  .dd_centre_div{display: none;}
  .breed_sec>.row>.text-center{border-bottom: 2px solid #80808047;}
  .breed_sec>.row>.text-center:last-child{border: 0 none;}
  .dd_cnt_sec {flex-wrap: wrap;}
  .dd_heading,.dd_search  {width: 100%;}
  .dd_search {margin-top: 20px;}
  .gothambold-f15{padding: 10px 15px;text-align: center;}
  .dd_pet_cnt>p{font-size: 20px!important;}
  /*.dd_allCNT {padding: 0 0!important;display: inline-block;border-top-left-radius: 24px;padding: 5px 5px!important;box-shadow: -2px 1px 12px #fff;background: #ffffff94;}*/
  .dd_bgimg{background-position: 50% 0%;padding: 10px 0px 10px 20px;}
  .dd_profile .nav-item{margin-bottom: 10px;width: 100%;}
  /*footer*/
  .footer_top_sec .col-md-7{z-index: 9;}
  .footer_top_sec {position: relative;}
  .footer_top_sec:after{position: absolute;content: '';top: 0;left: 0;width: 100%;height: 100%;background: #0000002e;z-index: 1;}
  .achive.banner-index{background-position: 80% 0px;min-height: auto;box-shadow: none;}
  .dd_bgimg .dd_allCNT>h2{margin-bottom: 10px!important;font-size: 20px;}
  .dd_bgimg .dd_allCNT>h2~p{width: 70%;margin-bottom: 0px!important;font-size: 14px;}
  .dd_bgimg .dd_allCNT{line-height: 1.2;padding: 0 0!important;}
  .card-footer{flex-wrap: wrap;}
  .card-footer .dd_social_icons{margin-top: 10px;text-align: center;width: 100%;}
  .login_pp.form-row.active{transform: translateX(-113%);}
  header .header-right{padding-bottom: 0px;}
  /*black mobile view*/
  .bl_left_bar>p{display: none;}
  .page-link{margin-right: 8px;}
  .bl_mobile_right {display: inline-block!important;overflow: hidden;transform: translate(-10px, 0px);animation: mymove 1s infinite;}
  @keyframes mymove {
  0%   {transform: translate(-10px, -5px);}
  50%  {transform: translate(-10px, -0px);}
  100% {transform: translate(-10px, -5px);}
}
.bl_mobile_right i{transform-origin: 50% 50%;transition: 0.5s;}
.bl_right_icons.show~.bl_mobile_right i{transform: rotate(180deg);}
.bl_right_icons {display: inline-block!important;overflow: hidden;position: fixed;right: 0px;top: -100%;width: 100%;background: #000;padding-right: 10px;z-index: -1;opacity: 0;visibility: hidden;transition: 0.5s;}
  .bl_right_icons.show{top: 15%;z-index: 1;opacity: 1;visibility: visible;}
  .bl_right_icons>div{padding: 10px 13px;margin-bottom: 10px;margin-left: auto!important;width: 50px;}
  .bl_kp_input{width: 100%;}

}

@media (max-width: 460px){
.dd_img_pos{left: auto;    top: -30px;right: 0px;width: 50px;}
.dd_heading{display: inline-block;width: auto;}
}

@media (max-width: 360px){
  .vaccume .journy_rgt_cnt>img{display: block!important;}
  .card_sec_pill{padding: 10px 10px 30px;}
  .card_sec_tab #cardpills-tab .nav-item{width: 100%;}
  .our_story_img .box{padding: 0px 20px;overflow: hidden;}
  .cmp_dd_arrow .dd_arrow1{top: -10%;left: 0px;}
  .chat_aria_btm li{font-size: 16px;}
  .lets_chat{margin-left: -15px;width: 115%;}
  .chat_aria_img>img{margin-right: 10px!important;}
  .chat_aria_img>p{font-size: 18px;}
  .chat_icons img{display: block;}
  .chat_icons.media{justify-content: space-around;}
  .chat_icons span, .chat_icons.media{display: none;}
  .chat_icons.media span{display: block;justify-content: space-around;}
  .chat_you li{padding-right: 10px!important;}
  .chat_me li{padding-left: 10px!important;}
  .bg_heart .col-md-12.py-4.px-5,.both_happy .col-md-12.py-4.px-5{padding: 20px 30px!important;}
  .prf_otm{margin-top: -50%;}
  .occu_love_sec .dd_heading {    font-size: 35px;}
  .dd_priorities {margin-top: 0px!important;}
  .package_cnt, .package_btn{padding: 20px 10px;}
  .journy_cnt .dd_head {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
  .journy_rgt_cnt{padding-top: 30px;padding-bottom: 0px;}
  .journy_rgt_abs,.journy_lft_abs{top: 100%;}
  .journy_rgt_cnt>img{display: none;}
  .journy_rgt_cnt .pd-first{color: #000!important;padding: 0 10%;}
  .journy_rgt_cnt .pd-sec{color: #000!important;width: 90%;}
  .banner-index.achive.h_advice_bnr{    background-position: center 0px;}
  .dd_thoght_text{padding: 10px 5px 10px 5px!important;}
  .dd_thoght_text .dd_text_img{margin-right: 0.5rem!important;}
  .dd_thoght_text .dd_text_input .f-18{font-size: 12px;}
  .dd_colapse .card-footer{padding: 5px 10px!important;}
  .dd_colapse .card-footer .gothambold-f15{font-size: 12px;}
  .search_left,.search_right{width: 50%;}
  .search-group:after{left: 50%;}
  .Group1253>a.f-25{font-size: 20px;}
  .fsuggetion{text-align: center;justify-content: center;flex-wrap: wrap;}
  .fsuggetion>.mr-4{    margin-bottom: 10px;}
  .bl_Convers_img .carousel-indicators li{height: 50px;width: 50px;}
  .all_breed .bl_Convers_cnt>strong:first-child:after{right: -100px;}
.login_pp.form-row.active{transform: translateX(-125%);}
.modal-header>.dd_heading{font-size: 30px;}
.modal-footer~.login_cnt{padding-bottom: 10px!important;}
.page-link{    margin-right: 0px;}
.page-link{padding: 3px 10px;}
.dd_pagination{margin-left: 10px;}
.dd_allCNT>p{font-size: 16px;}
.dd_profile .nav-pills .nav-link{font-size: 18px;}
.banner-cnt .head-cnt{width: 100%;}
}
/*testing ipad*/
.nav-pills .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
}
.gothambold-f15{font-family: inherit!important;}
.search-group .form-control, .dd_search .form-control,.dwiggy_btn {height: 46px!important;}
.dd_search .form-control.gotham-book{font-family: 'Montserrat'!important;}
button, input, optgroup, select, textarea{font-family: 'Montserrat'!important;}
@media (max-width: 767px){
.gothambold-f15{padding: 0px 20px;}
}